<!DOCTYPE html>
<html>
<head>
	<title>TimeTables</title>
	<script type="text/javascript" src="..\static\js\jquery-3.3.1.min.js "></script>
	<script type="text/javascript" src="..\static\hello.js"></script>
	<script type="text/javascript">
		$(function() {
			// body...
			$('#key th').css('color','red');
			$('#key').css('background','cyan');
			$('#key table').css('border-collapse','collapse');
			$('#key th').css('border','1px solid black');
			$('#key td').css('border','1px solid black');
		});

	</script>
</head>
<body>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	</p>
<div id="container">
	<div id="countries">
		<div id="fr">
			<div>France</div>
			<img src="../static/flags/fr.gif">
		</div>
		<div id="fi">
			<div>Finland</div>
			<img src="../static/flags/fi.gif">
		</div>
	</div>
</div>

<table id="key">
	<caption>Key</caption>
	<tr><th>HCI</th><td>Human Computer Interation</td></tr>
	<tr><th>ISO</th><td>Information Systems in Organization</td></tr>
	<tr><th>SD</th><td>Software Development</td></tr>
</table>
</body>
</html>